.wrapper{
background-color: burlywood;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}

.ch1,.ch2,.ch3{
background-color: black;
border: 2px solid white;
height: 200px;
width: 200px;

}