.wrapper{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat (3,auto)
    grid-template-row:repeat(2,300px)
    
}
.ch1,.ch2,.ch3,.ch4,.ch5,.ch6{
    background-color: aquamarine;
    border: 2px solid whitesmoke;
    color: palevioletred ;
}
@media screen and (min-width:400px) and  (max-width:700px) {
    .wrapper{
        grid-template-columns:repeat(2,auto) ;
        grid-template-rows: repeat(3,200px);
    }
    
}
@media screen  and (max-width:400px){
    .wrapper{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(6,auto);
    }
    
} 